$litagildi1: pink;
$litagildi2: red;
$litagildi3: #704;
$litagildi4: #ADFF2F;
$litagildi5: #800080;
$textastreng: "args";
$dashed: dashed;
$tölugildi: 1px;
$multi: 2px solid red;
$font: Courier, monospace;
$breyta: $litagildi4 $tölugildi $dashed;